.history-list { 
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.history-item { 
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 0.5em;
    padding: 8px 12px;
    border-radius: 18px;
    transition: all 0.2s ease;
}

.history-item:hover { 
    background: var(--icon-btn-hover);
    transform: scale(1.05);
}

.history-time { 
    color: var(--color-text-secondary);
    font-size: 0.8em;
}

.series-info-container,
.dialog-container .content-container.series-info-container { 
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    position: relative;
    gap: 0;
}

.dialog-container * { 
    transition: all 0.3s ease;
}

.dialog-cover { 
    width: -webkit-fill-available;
    max-height: 180px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    mix-blend-mode: multiply;
}

.dark .dialog-cover { 
    mix-blend-mode: lighten;
}

.dialog-cover img { 
    border-radius: 12px;
    width: -webkit-fill-available;
    object-fit: cover;
    mask-image: 
        linear-gradient(white 40%, transparent 95%);
}

.effect-reduced .dialog-cover img { 
    height: -webkit-fill-available;
    mask-image: none;
}

.dialog-cover:hover { 
    filter: brightness(1.1) var(--filter-item-shadow-hover);
    transform: scale(1.02);
}

.dialog-container .content-container .dialog-content { 
    z-index: 0;
    width: -webkit-fill-available;
}

.dialog-container .content-container.cover .dialog-content{
    -webkit-backdrop-filter: var(--background-filter-transparent);
    backdrop-filter: var(--background-filter-transparent);
    background-color: var(--color-background-card-transparent);
    box-shadow: var(--item-shadow-inset-hover);
    margin: 0 2vw;
    min-width: min-content;
}

.dialog-container .content-container:not(.cover) .dialog-content,
.effect-reduced .dialog-content{
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background-color: transparent;
    box-shadow: none;
    padding: none;
    margin: 0;
    padding: 12px;
    border-radius: 0;
    background-color: var(--color-background-card-solid);
}

.dialog-container .content-container:not(.cover) .dialog-cover{ 
    filter: blur(12px);
    opacity: 0;
    height: 6em;
    transform: translateY(2em);
}

.effect-reduced .dialog-container .content-container > * { 
    margin-top: 12px;
}

.effect-reduced .dialog-container .content-container:not(.cover) .dialog-cover { 
    height: 36vw;
    opacity: 1;
    filter: none;
    transform: none;
}

.carriage-info { 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 4px;
    gap: 8px;
    width: -webkit-fill-available;
}

.seat-map { 
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    height: 8em;
    width: 3em;
    border: 1px solid var(--color-text-secondary);
    padding: 12px 1px;
    border-radius: 6px;
}

.carriage-info:first-of-type .seat-map { 
    padding-top: 2em;
    border-radius: 12px 12px 6px 6px;
}

.carriage-info:last-of-type .seat-map { 
    padding-bottom: 2em;
    border-radius: 6px 6px 12px 12px;
}

.seat-map .row { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: -webkit-fill-available;
}

.seat-map .row > * { 
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.seat-item { 
    background-color: var(--color-text-secondary);
    width: 1em;
    text-align: center;
    border-radius: 2px;
    font-size: 0.8em;
}

.carriage-title { 
    display: flex;
    gap: 0 0.5em;
    flex-wrap: wrap;
}

.carriage-no { 
    font-weight: bold;
}

.seat-map .storage { 
    height: 3em;
    background-color: var(--color-secondary-hover);
}

.carriage-desc {
    max-height: 8em;
    width: -webkit-fill-available;
}

.carriage-seats { 
    color: var(--color-text-secondary);
    display: flex;
    flex-direction: row;
}

.facilities-container {
    color: var(--color-text-secondary);
    display: flex; 
    flex-direction: column;
    font-size: 0.9em;
    margin-top: 4px;
    padding-top: 4px;
    border-top: 1px solid var(--color-text-secondary);
    width: -webkit-fill-available;
    gap: 2px;
}

.facility-item .material-symbols-outlined { 
    position: relative;
    font-size: 1.5em
}

.facility-item { 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.facility-item:hover { 
    cursor: default;
}

.facility-item .material-symbols-outlined.no-seat::after { 
    content: 'question_mark';
    font-size: 0.6em;
    background-color: var(--color-background-card-solid);
    font-variation-settings: 'wght' 500, 'opsz' 20;
    right: 0;
    top: 0.1em;
    position: absolute;
}

@media (prefers-color-scheme: dark) { 
    .dialog-cover { 
        mix-blend-mode: lighten;
    }
}

@media (prefers-reduced-transparency: reduce) { 
    .dialog-cover { 
        mix-blend-mode: none;
    }
    .dialog-cover img { 
        height: -webkit-fill-available;
        mask-image: none;
    }
    .dialog-content{
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
        background-color: transparent;
        box-shadow: none;
        padding: none;
        margin: 0;
        padding: 12px;
        border-radius: 0;
        background-color: var(--color-background-card-solid);
    }
    .dialog-container .content-container .dialog-cover { 
        margin-top: 12px;
    }
    .dialog-container .content-container:not(.cover) .dialog-cover { 
        height: 10em;
        opacity: 1;
        filter: none;
        transform: none;
    }
}