.history-list { 
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.history-item { 
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 0.5em;
    padding: 8px 12px;
    border-radius: 18px;
    transition: all 0.2s ease;
}

.history-item:hover { 
    background: var(--icon-btn-hover);
    transform: scale(1.05);
}

.history-time { 
    color: var(--color-text-secondary);
    font-size: 0.8em;
}

.series-info-container,
.dialog-container .content-container.series-info-container { 
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    position: relative;
    gap: 0;
}

.carriage-info { 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 4px;
    gap: 8px;
    width: -webkit-fill-available;
}

.seat-map { 
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    height: 8em;
    width: 3em;
    border: 1px solid var(--color-text-secondary);
    padding: 12px 1px;
    border-radius: 6px;
}

.carriage-info:first-of-type .seat-map { 
    padding-top: 2em;
    border-radius: 12px 12px 6px 6px;
}

.carriage-info:last-of-type .seat-map { 
    padding-bottom: 2em;
    border-radius: 6px 6px 12px 12px;
}

.seat-map .row { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: -webkit-fill-available;
}

.seat-map .row > * { 
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.seat-item { 
    background-color: var(--color-text-secondary);
    width: 1em;
    text-align: center;
    border-radius: 2px;
    font-size: 0.8em;
}

.carriage-title { 
    display: flex;
    gap: 0 0.5em;
    flex-wrap: wrap;
}

.carriage-no { 
    font-weight: bold;
}

.seat-map .storage { 
    height: 3em;
    background-color: var(--color-secondary-hover);
}

.carriage-desc {
    max-height: 8em;
    width: -webkit-fill-available;
}

.carriage-seats { 
    color: var(--color-text-secondary);
    display: flex;
    flex-direction: row;
}

.facilities-container {
    color: var(--color-text-secondary);
    display: flex; 
    flex-direction: column;
    font-size: 0.9em;
    margin-top: 4px;
    padding-top: 4px;
    border-top: 1px solid var(--color-text-secondary);
    width: -webkit-fill-available;
    gap: 2px;
}

.facility-item .material-symbols-outlined { 
    position: relative;
    font-size: 1.5em
}

.facility-item { 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.facility-item span:not(.material-symbols-outlined) {
    line-height: 1.2;
}

.facility-item:hover { 
    cursor: default;
}

.facility-item .material-symbols-outlined.no-seat::after { 
    content: 'question_mark';
    font-size: 0.6em;
    background-color: var(--color-background-card-solid);
    font-variation-settings: 'wght' 500, 'opsz' 20;
    right: 0;
    top: 0.1em;
    position: absolute;
}

.station-info { 
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.exit-info { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 0.5em;
    padding: 4px 0;
}

.exit-info .exit-id { 
    font-weight: bold;
    background: linear-gradient(110deg,#F8D90C 40%,white 60%);
    padding: 0.1em;
    min-width: 1.3em;
    text-align: center;
    border: 2px solid #222;
    color: black;
    line-height: 0.9;
    font-family: 'HarmonyOS Sans SC';
}

.exit-info .exit-id.in { 
    background: white;
}

.exit-info .exit-id.out { 
    background: #F8D90C;
}

.exit-info .exit-dir { 
    min-width: 3.5em;
}

.exit-info .exit-desc { 
    width: -webkit-fill-available;
}

.floors-info { 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5em;
}

.floors-info .floor-no { 
    font-weight: bold;
    min-width: 5.75em;
    margin-top: 4px;
    padding-top: 4px;
    border-top: 1px solid var(--color-text-secondary);
}

.floors-info .floor-no small { 
    font-weight: normal;
}

.platforms-item { 
    color:var(--color-text);
    font-weight: 500;
    font-size: 1rem;
}