body { 
    overflow: hidden;
}

.app-container {
    padding: 0;
}

main {
    padding: 24px;
    overflow: auto;
    justify-content: start;
    box-shadow: var(--input-shadow-inset);
    max-width: 100vw;
    padding-bottom: 120px;
}

.preview-container { 
    width: 100svw;
    aspect-ratio: 16/9;
}

.preview-container > * {
    width: 1920px;
    height: 1080px;
    transform: scale(calc(100svw / 1920px));
    transform-origin: top left;
    position:absolute;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.frame-container { 
    color: white;
}

.frame-container > * { 
    position: absolute;
}

.frame-container * { 
    transition: all 0.3s ease-in-out;
    text-wrap: nowrap;
    width: fit-content;
}

.frame-background { 
    background-color: var(--color-primary);
    width: 1920px;
    height: 192px;
    bottom: 0;
    -webkit-mask-image: -webkit-linear-gradient(
        transparent 0, 
        #ffffff60 45%, 
        #ffffff90 65%,
        #ffffffd0 100%);
    mask-image: linear-gradient(
        transparent 0, 
        #ffffff60 45%, 
        #ffffff90 65%,
        #ffffffd0 100%);
}

.frame-text-container { 
    width: -webkit-fill-available;
    height: 180px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 120px;
    font-weight: normal;
    text-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.frame-text-container .frame-text {
    font-size: 36px;
}

.frame-text-container .frame-text-secondary {
    font-size: 24px;
}

.frame-text-container .frame-text-accent {
    font-size: 64px;
    font-weight: bold;
}

.frame-text-lines {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.frame-text-container > * {
    height: 128px;
    display: flex;
    justify-content: center;
}

.station-name-secondary {
    justify-content: flex-end;
    font-weight: bold;
    height: 72px;
}

.station-name-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.station-name-container > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    transition: all 0.7s ease-in-out;
    padding-left: 16px;
    width: fit-content;
    transform: unset;
}

.station-name-container .station-names {
    font-weight: bold;
    width: 48em;
    display: flex;
    justify-content: flex-end;
}

.station-name-container .platform-container {
    width: 12em;
    display: flex;
    justify-content: flex-end;
}

.station-name-container .next-arrow-container {
    width: 12em;
    display: flex;
    justify-content: flex-end;
}

.station-name-container .hidden { 
    width: 0px;
    opacity: 0;
    filter: blur(48px);
    transform: translateX(300%);
    padding: 0px;
}

.station-name-container .next-arrow-container.hidden { 
    transform: translateX(150%);
}

.station-name-container .out { 
    width: fit-content;
    opacity: 0;
    filter: blur(48px);
    transform: translateX(-100%);
    padding: 0px;
}

.station-name-container .collapsed { 
    opacity: 0;
    filter: blur(48px);
    transform: translateX(-100%);
    padding: 0px;
    width: 0px;
}

.station-list {
    height: fit-content;
    min-height: 30px;
    width: -webkit-fill-available;
    padding: 8px;
    border: none;
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary);
    border-radius: 18px;
    margin-top: 8px;
}

.station-item {
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    border-radius: 36px;
    transition: all 0.3s ease-in-out;
}

.station-item.active { 
    font-weight: bold;
    background-color: var(--color-background-actions);
    box-shadow: var(--item-shadow-inset);
    color: var(--color-primary);
    padding: 4px 12px;
}

.station-item input, .pref-item input { 
    padding: 2px 6px;
}

.line-name-input { 
    width: 6em;
}

.effect-reduced .station-item.active { 
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.effect-reduced .station-item:hover { 
    text-decoration: underline;
}

.custom-background, .custom-background > * { 
    transition: all 0.3s ease-in-out;
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-controls { 
    display: flex;
    flex-direction: row;
}

input[type="color"] {
    padding: 0;
    border: none; 
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
}

@media (width > 0) {
    footer { 
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }    
    footer.swapped { 
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
        gap: 0;
    }
    footer .tabs {
        width: fit-content;
    }
}