:root, .light { 
    --color-primary: #e77000;
    --color-primary-transparent: #e7700080;
    --color-primary-tinted: #eeb885;
    --color-primary-hover: #e7700040;
    --color-background: #f5f5f5;
    --color-background-actions: #fffffff0;
    --color-background-card: #ffffffa0;
    --color-background-card-transparent: #ffffff10;
    --color-background-card-solid: #fbfbfb;
    --color-secondary: #00000010;
    --color-secondary-hover: #0000000a;
    --color-toast-background: #000000b0;
    --input-shadow-inset: inset 0 3px 3px rgba(0, 0, 0, 0.05);
    --item-shadow-inset: inset 0 -3px 3px rgba(0, 0, 0, 0.05);
    --item-shadow-inset-hover: inset 0 3px 3px rgba(255, 255, 255, 0.2);
    --icon-btn-hover: radial-gradient(#ffffffd0 8px, transparent 80%);
    --active-icon-btn-hover: radial-gradient(#ffc88ed0 8px, transparent 80%);
    --icon-filter-active: invert(39%) sepia(83%) saturate(7493%) hue-rotate(395deg) brightness(130%) contrast(101%);
    --background-filter-transparent: blur(12px) saturate(130%) contrast(110%) brightness(110%);
    --background-filter-transparent-invert: blur(12px) saturate(140%) contrast(110%) brightness(90%);
    --color-border: #ddd;
    --color-text: #333;
    --color-text-secondary: #666;
    --color-text-on-primary: #fff;
    --mask-image-overflow-y: linear-gradient(transparent 1%, white 5%, white 95%, transparent 99%);
    --mask-image-overflow-y-top: linear-gradient(white 95%, transparent 99%);
    --mask-image-overflow-y-bottom: linear-gradient(transparent 1%, white 5%);
    --font-family: "Bricolage Grotesque", "MiSans Latin", "Helvetica Neue", "Helvetica", "Roboto", "BlinkMacSystemFont", "MiSans", "HarmonyOS Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

* { 
    scrollbar-width: thin;
    scrollbar-color: var(--color-text-secondary) var(--color-background-card-solid);
}

@font-face {
    font-family: "MiSans Latin";
    src: url(https://assets.wiki.hydcraft.cn/font/MiSans_Latin.woff2) format('woff2')
}

@font-face {
    font-family: "Bricolage Grotesque";
    src: url(https://assets.wiki.hydcraft.cn/font/Bricolage_Grotesque.woff2) format('woff2')
}

@font-face {
    font-family: 'HarmonyOS Sans SC';
    src: url('/UI/fonts/HARMONYOS_SANS_SC_REGULAR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HarmonyOS Sans SC';
    src: url('/UI/fonts/HARMONYOS_SANS_SC_MEDIUM.TTF') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HarmonyOS Sans SC';
    src: url('/UI/fonts/HARMONYOS_SANS_SC_BOLD.TTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.dark {
    --color-primary-transparent: #a64e0680;
    --color-primary-tinted: #502b0c;
    --color-background: #111;
    --color-background-actions: #212121f0;
    --color-background-card: #1a1a1aa0;
    --color-background-card-transparent: #21212110;
    --color-background-card-solid: #161616;
    --color-secondary: #00000022;
    --color-secondary-hover: #ffffff0a;
    --color-toast-background: #00000080;
    --input-shadow-inset: inset 0 -3px 3px rgba(255, 255, 255, 0.08);
    --item-shadow-inset: inset 0 3px 3px rgba(255, 255, 255, 0.05);
    --item-shadow-inset-hover: inset 0 -3px 3px rgba(255, 255, 255, 0.1);
    --active-icon-btn-hover: radial-gradient(#ff840020 8px, transparent 80%);
    --icon-btn-hover: radial-gradient(#ffffff20 8px, transparent 80%);
    --background-filter-transparent: blur(12px) saturate(140%) contrast(110%) brightness(90%);
    --background-filter-transparent-invert: blur(12px) saturate(130%) contrast(110%) brightness(110%);
    --color-border: #888;
    --color-text: #eee;
    --color-text-secondary: #888;
    --color-text-on-primary: #fff;
}

.dark .icon { 
    filter: invert(1);
}

@media (prefers-color-scheme: dark) { 
    :root { 
        --color-primary-transparent: #a64e0680;
        --color-background: #111;
        --color-background-actions: #212121f0;
        --color-background-card: #1a1a1aa0;
        --color-background-card-transparent: #21212110;
        --color-background-card-solid: #161616;
        --color-secondary: #00000022;
        --color-secondary-hover: #ffffff0a;
        --color-toast-background: #00000080;
        --input-shadow-inset: inset 0 -3px 3px rgba(255, 255, 255, 0.08);
        --item-shadow-inset: inset 0 3px 3px rgba(255, 255, 255, 0.05);
        --item-shadow-inset-hover: inset 0 -3px 3px rgba(255, 255, 255, 0.1);
        --active-icon-btn-hover: radial-gradient(#ff840020 8px, transparent 80%);
        --icon-btn-hover: radial-gradient(#ffffff20 8px, transparent 80%);
        --background-filter-transparent: blur(12px) saturate(140%) contrast(110%) brightness(90%);
        --background-filter-transparent-invert: blur(12px) saturate(130%) contrast(110%) brightness(110%);
        --color-border: #888;
        --color-text: #eee;
        --color-text-secondary: #888;
        --color-text-on-primary: #fff;
    }

    .icon {
        filter: invert(1);
    }

    .effect-reduced {
        --color-background-card-solid: #212121;
        --color-background-actions: #212121;
        --color-secondary: #282828;
        --color-secondary-hover: #333;
        --color-toast-background: #000000;
        --mask-image-overflow-y: unset;
        --mask-image-overflow-y-top: unset;
        --mask-image-overflow-y-bottom: unset;
    }
}

@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after { 
        transition: none !important;
    } 
}

@media (prefers-reduced-transparency: reduce) {

    * {
        --color-background-actions: #ffffff;
        --color-background-card: #fff;
        --color-secondary: #f5f5f5;
        --color-secondary-hover: #eee;
        --color-toast-background: #000000;
        --mask-image-overflow-y: unset;
        --mask-image-overflow-y-top: unset;
        --mask-image-overflow-y-bottom: unset;
    }

    *.dark {
        --color-background-card-solid: #212121;
        --color-background-actions: #212121;
        --color-secondary: #282828;
        --color-secondary-hover: #333;
        --color-toast-background: #000000;
        --mask-image-overflow-y: unset;
        --mask-image-overflow-y-top: unset;
        --mask-image-overflow-y-bottom: unset;
    }

    *:not(.icon) { 
        filter: none !important;
    }

    *, *::before, *::after { 
        box-shadow: none !important;
        transition: none !important;
        backdrop-filter: none !important;
        -webkit-backdrop-filter: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
        --color-background-card: var(--color-background-card-solid);
        --color-background-card-transparent: var(--color-secondary);
        --icon-btn-hover: var(--color-secondary-hover);
        --active-icon-btn-hover: var(--color-primary-tinted);
    }

    header { 
        background: var(--color-primary-tinted) !important;
        height: 42px !important;
    }

    footer { 
        background: transparent !important;
    }

    .modal-overlay { 
        background-color: #444444f0;
    }

    footer > *:not(.search-controls), 
    .selection:not(.collapsed), 
    .tooltip, .side-bar:not(.collapsed),
    footer .selection.collapsed .selection-item.active,
    footer .search-panel.collapsed { 
        border: 2px solid var(--color-border);
    }

    .switch:not(.active) { 
        background: gray;
    }

    .side-bar .selection:not(.collapsed),
    footer .selection.collapsed:not(.search-panel) { 
        border: none;
    }

    main { 
        padding-top: 84px;
    }

    .icon-btn:hover,
    .selection-item:hover,
    .tab-item:hover,
    button:hover,
    a:hover,
    .train-item:hover { 
        text-decoration: underline;
    }

}

.effect-reduced {
    --color-background-actions: #ffffff;
    --color-background-card: #fff;
    --color-secondary: #f5f5f5;
    --color-secondary-hover: #eee;
    --color-toast-background: #000000;
    --mask-image-overflow-y: unset;
    --mask-image-overflow-y-top: unset;
    --mask-image-overflow-y-bottom: unset;
}

.effect-reduced.dark {
    --color-background-card-solid: #212121;
    --color-background-actions: #212121;
    --color-secondary: #282828;
    --color-secondary-hover: #333;
    --color-toast-background: #000000;
    --mask-image-overflow-y: unset;
    --mask-image-overflow-y-top: unset;
    --mask-image-overflow-y-bottom: unset;
}

.effect-reduced header { 
    background: var(--color-primary-tinted);
    height: 42px;
}

.effect-reduced footer { 
    background: transparent;
}

.effect-reduced .modal-overlay { 
    background-color: #444444f0;
}

.effect-reduced footer > *:not(.search-controls), 
.effect-reduced .selection:not(.collapsed), 
.effect-reduced .tooltip, .effect-reduced .side-bar:not(.collapsed),
.effect-reduced footer .selection.collapsed .selection-item.active,
.effect-reduced footer .search-panel.collapsed { 
    border: 2px solid var(--color-border);
}

.effect-reduced .switch:not(.active) { 
    background: gray;
}

.effect-reduced .side-bar .selection:not(.collapsed),
.effect-reduced footer .selection.collapsed:not(.search-panel) { 
    border: none;
}

.effect-reduced main { 
    padding-top: 84px;
}

.effect-reduced .icon-btn:hover,
.effect-reduced .selection-item:hover,
.effect-reduced .tab-item:hover,
.effect-reduced button:hover,
.effect-reduced a:hover,
.effect-reduced .train-item:hover { 
    text-decoration: underline;
}

.effect-reduced *:not(.icon) { 
    filter: none !important;
}

.effect-reduced *, .effect-reduced *::before, .effect-reduced *::after { 
    box-shadow: none !important;
    transition: none !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    --color-background-card: var(--color-background-card-solid);
    --color-background-card-transparent: var(--color-secondary);
    --icon-btn-hover: var(--color-secondary-hover);
    --active-icon-btn-hover: var(--color-primary-tinted);
}

body {
    margin: 0;
    color: var(--color-text);
    transition: all 0.2s ease-in-out;
    background-color: var(--color-background);
}

h1, h2, h3, h4, h5, h6, p, span, a, button, input, textarea, select { 
    margin: 0;
    padding: 0;
    line-height: 1;
}

h1 { 
    margin: 0;
    font-size: 24px;
    text-align: left;
    color: var(--color-text);
    font-weight: 600;
    text-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
}

button { 
    font-family: var(--font-family);
    box-shadow: var(--item-shadow-inset);
}

a {
    color: var(--color-primary);
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

a:hover { 
    text-decoration: underline;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family);
    height: 100vh;
}

body.compact { 
    background: transparent;
}

body.compact header, body.compact .line-selection {
    display: none;
}

body.compact main {
    margin-top: 0;
} 

body.compact .station-list { 
    background: transparent;
}

header {
    background: linear-gradient(180deg, var(--color-primary-transparent), transparent);
    width: calc(100% - 24px);
    height: 48px;
    padding: 12px;
    text-align: center;
    position: fixed;
    top: 0dvh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1001;
    transition: all 0.2s ease-in-out;
}

header .gradient-blur { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 998;
    /*-webkit-backdrop-filter: blur(8px);
    mask-image: linear-gradient(white 30%, #ffffffee 60%, #ffffffaa 75%, transparent 90%);*/
}

.gradient-blur .blur-layer-1 { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 996;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    -webkit-mask-image: -webkit-linear-gradient(white 30%, transparent 60%);
    mask-image: linear-gradient(white 30%, transparent 60%);
}

.gradient-blur .blur-layer-2 { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 997;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    -webkit-mask-image: -webkit-linear-gradient(white 50%, transparent 80%);
    mask-image: linear-gradient(white 50%, transparent 80%);
}

.gradient-blur .blur-layer-3 { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 998;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    -webkit-mask-image: -webkit-linear-gradient(white 75%, transparent 90%);
    mask-image: linear-gradient(white 75%, transparent 90%);
}

footer {
    background: linear-gradient(0deg, #00000040, transparent);
    width: calc(100% - 24px);
    max-width: calc(100% - 24px);
    padding: 12px;
    padding-bottom: 40px;
    text-align: center;
    position: fixed;
    bottom: 0lvh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    transition: all 0.2s ease-in-out;
    overflow: visible;
    gap: 8px;
    z-index: 999;
}

footer * { 
    z-index: 999;
}

footer.swapped {
    align-items: flex-start;
}

@media (width > 480px) {
    footer { 
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }    
    footer.swapped { 
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
        gap: 0;
    }
    footer .tabs {
        width: fit-content;
    }
}

header * {
    z-index: 1001;
}

.toast { 
    background-color: var(--color-toast-background);
    color: white;
    padding: 8px 16px;
    border-radius: 18px;
    position: fixed;
    bottom: 180px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1100;
    font-family: var(--font-family);
    text-align: center;
    width: fit-content;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    text-wrap: wrap;
    font-weight: normal;
    box-shadow: inset 0 -3px 3px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(6px) saturate(140%) contrast(160%) brightness(90%);    
    -webkit-backdrop-filter: blur(6px) saturate(140%) contrast(160%) brightness(90%);
    max-width: 90vw;
}

.modal-overlay { 
    background: var(--color-secondary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    backdrop-filter: blur(24px);
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-container, .dialog-container.item { 
    background-color: var(--color-background-actions);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: fit-content;
    max-width: 90vw;
    max-height: 60dvh;
    gap: 12px;
    transition: all 0.2s ease-in-out;
    margin: 0 18px;
}

.dialog-container > * { 
    max-width: 480px;
}

.dialog-container .dialog-buttons { 
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
    width: -webkit-fill-available;
}

.dialog-container button { 
    background-color: var(--color-secondary-hover);
    transition: all 0.2s ease-in-out;
}

.title { 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0 12px;
    min-height: 42px;
    transition: all 0.2s ease-in-out;
}

.title img {
    width: 36px;
    height: 36px;
    filter: brightness(1000%);
    display: none;
}

.side-bar { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: all 0.2s ease-in-out;
    min-width: fit-content;
}

.side-bar:not(.collapsed) {
    background: var(--color-background-card-transparent);
    height: calc(100dvh - 36px);
    width: 100vw;
    backdrop-filter: var(--background-filter-transparent);
    -webkit-backdrop-filter: var(--background-filter-transparent);
    padding: 8px;
    margin-right: 8px;
    max-width: 240px;
}

.side-bar .side-bar-header { 
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    justify-content: flex-end;
    align-items: center;
}

.side-bar .side-bar-list { 
    display: flex;
    padding: 8px;
    margin-bottom: 4px;
    width: -webkit-fill-available;
    min-width: fit-content;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.side-bar .side-bar-list:last-child { 
    flex-direction: row;
    width: -webkit-fill-available;
}

.side-bar .side-bar-list:last-child .side-bar-item:first-child { 
    width: -webkit-fill-available;
}

.side-bar .side-bar-list:last-child .preferences-btn { 
    width: -webkit-fill-available;
    justify-content: flex-start;
}

.side-bar:not(.collapsed) .side-bar-navigation { 
    height: -webkit-fill-available;
    overflow-y: auto;
    container-type: scroll-state;
    container-name: side-bar-navigation;
}

.side-bar .side-bar-item { 
    display: flex;
    padding: 0 8px;
    border-radius: 16px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.side-bar .side-bar-item.active { 
    padding: 8px;
    background: var(--color-secondary-hover);
    width: -webkit-fill-available;
    min-width: fit-content;
    margin: 6px 0;
}

/*仅作用于.side-bar .side-bar-item.active的子元素，不作用于子元素的子元素*/
.side-bar .side-bar-item.active > *:not(.icon-btn) { 
    margin: 0;
    padding: 0;
    margin-left: 24px;
    margin-bottom: 8px;
}

.side-bar .icon-btn.active:hover { 
    background: unset;
}

.side-bar .selection, .side-bar .selection.no-collapse { 
    background-color: transparent;
    background: transparent;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
    box-shadow: unset;
    position: relative;
    width: -webkit-fill-available;
    height: fit-content;
    top: unset;
    left: unset;
    margin: 0;
    padding: 0;
    margin-left: 24px;
    margin-bottom: 8px;
    overflow: visible;
}

.side-bar.collapsed {
    width: fit-content;
    height: fit-content;
    gap: 0;
    background: var(--color-background-actions);
    overflow: hidden;
    filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.2));
}

.side-bar.collapsed .side-bar-header { 
    width: fit-content;
}

.side-bar.collapsed .side-bar-list { 
    width: 0;
    min-width: 0;
    height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
}

.tabs {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    border-radius: 36px;
    padding: 4px 8px;
}

.tabs .tab-item { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    border-radius: 36px;
    padding: 4px 16px;
}

.tabs .tab-item.active { 
    background-color: var(--color-secondary-hover);
}

.tabs .tab-item.active:hover { 
    background-color: var(--color-background-actions);
}

.tabs .icon-btn.active:hover { 
    background: transparent;
}

.tabs .tab-item .icon-btn { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: fit-content;
    padding: 2px;
}

.actions, .selection { 
    display: flex;
    flex-wrap: nowrap;
    background: var(--color-background-actions);
    border-radius: 24px;
    margin: 0 6px;
    transition: all 0.35s ease;
    box-shadow: var(--item-shadow-inset);
    filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.2));
    color: var(--color-text);
    z-index: 999;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.selection.segment, .tabs { 
    flex-direction: row;
    padding: 4px;
    gap: 0;
}

.actions, .side-bar.collapsed { 
    flex-direction: row;
    justify-content: center;
    padding: 2px 4px;
}

.item {
    box-shadow: var(--item-shadow-inset);
    padding: 24px;
    border-radius: 24px;
    background-color: var(--color-background-card);
}

.actions:hover, .selection.collapsed:hover, .selection:not(.collapsed), 
.tooltip, .side-bar.collapsed:hover, .dialog-container { 
    box-shadow: var(--item-shadow-inset-hover);
}

.actions:hover, .selection.collapsed:hover, .selection:not(.collapsed), 
.tooltip, button:hover, .side-bar.collapsed:hover, .dialog-container { 
    filter: drop-shadow(0 12px 16px rgba(0, 0, 0, 0.2));
    backdrop-filter: var(--background-filter-transparent);
    -webkit-backdrop-filter: var(--background-filter-transparent);
    border-radius: 24px;
}

.actions:hover, .selection.collapsed:hover, .selection:not(.collapsed), .search-bar.collapsed:hover, .side-bar.collapsed:hover { 
    background: var(--color-background-card-transparent);
}

.actions.tabs { 
    border-radius: 36px;
}

.tooltip { 
    background: var(--color-background-card-transparent);
    z-index: 2000;
}

.selection { 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
    overflow: hidden;
    text-wrap: nowrap;
    min-width: max-content;
    height: fit-content;
    min-height: fit-content;
}

.selection .selection-item { 
    min-height: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    width: fit-content;
    padding: 4px 12px;
    border-radius: 36px;
    transition: all 0.3s ease;
    background: transparent;
    height: auto;
    overflow-y: hidden;
    opacity: 1;
    cursor: pointer;
}

/*.selection:not(.collapsed) .selection-item { 
    width: -webkit-fill-available;
}*/

.selection .selection-item:hover {
    background: var(--icon-btn-hover);
    transform: scale(1.05);;
}

.selection .selection-item.active {
    background: var(--color-background-actions);
    border-radius: 24px;
    box-shadow: none;
    min-width: -webkit-fill-available;
    filter: none;
    box-shadow: var(--item-shadow-inset);
}

.selection .selection-item img { 
    margin: 0 4px;
}

.selection .selection-item.active img { 
    margin: 0;
    margin-right: 4px;
}

.selection.segment .selection-item, .tabs .tab-item {
    overflow: hidden;
    justify-content: center;
    min-width: unset;
    width: -webkit-fill-available;
    transition: all 0.2s ease;
}

.selection.segment .selection-item { 
    padding: 4px 8px;
}

.selection.segment .selection-item.active span { 
    transition: all 0.2s ease;
}

.selection .selection-item:not(.active) {
    width: fit-content;
}

.selection.segment .icon-btn.selection-item:not(.active) span {
    width: 0;
    opacity: 0;
}

.selection .selection-item.active:hover {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

.selection:not(.collapsed) .selection-item.active, .icon-btn:has(.active) {
    color: var(--color-primary);
    font-weight: bold;
}

.selection.collapsed { 
    width: fit-content;
    max-width: max-content;
    min-height: fit-content;
    padding: 0;
    background:transparent;
}

.selection.collapsed .selection-item.active { 
    padding: 8px 12px;
    min-width: 18px;
    max-width: 100%;
    overflow: hidden;
}

.selection.collapsed .selection-item:not(.active) { 
    min-height: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    opacity: 0;
    line-height: 0;
}

/* 开关样式 */
.switch {
    width: 36px;
    min-width: 36px;
    height: 24px;
    min-height: 24px;
    border-radius: 16px;
    background-color: var(--color-secondary);
    position: relative;
    cursor: pointer;
    margin: 0 4px;
    box-shadow: var(--input-shadow-inset);
    transition: all 0.2s ease;
}

.switch::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
    top: 2px;
    left: 2px;
    transition: all 0.2s ease;
    box-shadow: var(--item-shadow-inset);
}

.switch:hover { 
    filter: contrast(1.2);
}

.switch:hover::before { 
    transform: scale(1.1);
}

.switch.active {
    background-color: var(--color-primary);
}

.switch.active::before {
    transform: translateX(100%) translateX(-8px);
}

.icon-btn { 
    padding: 4px;
    border-radius: 50px;
    min-width: 26px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    background: transparent;
    cursor: pointer;
    gap: 4px;
}

.icon-btn:hover {
    background: var(--icon-btn-hover);
    transform: scale(1.05);
    filter: brightness(110%);
}

.icon-btn:has(.active):hover {
    background: var(--active-icon-btn-hover);
}


.icon-btn img, img.icon {
    width: 22px;
    height: 22px;
}

.icon.active, .icon-btn.active img {
    filter: var(--icon-filter-active);
}

main { 
    padding: 66px 0;
    width: calc(100% - 48px);
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    padding-bottom: 144px;
    transition: all 0.3s ease;
}

button, input[type="button"], input[type="submit"], input#file-upload-button {
    padding: 6px 12px;
    border: none;
    border-radius: 16px;
    background: var(--color-background-card);
    box-shadow: var(--item-shadow-inset);
    filter: none;
    color: var(--color-text);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 4px;
}

button:hover { 
    transform: scale(1.05);
    filter: brightness(110%);
}

button.active { 
    background-color: var(--color-primary);
    color: var(--color-text-on-primary);
    font-weight: 600;
    letter-spacing: 0.01em;
}

input, input#endInput, textarea { 
    padding: 6px 16px;
    border-radius: 16px;
    border: 1px solid var(--color-text-secondary);
    box-shadow: var(--input-shadow-inset);
    color: var(--color-text);
    font-size: 14px;
    font-family: var(--font-family);
    background-color: var(--color-background-card);
    min-height: 16px;
}

input[type="file"] { 
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    height: -webkit-fill-available;
    width: 160px;
}

input[type="color"] { 
    padding: 0;
    width: 24px;
    height: 24px;
    border:none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
}

datalist { 
    height: 0;
}

.divider { 
    width: 100%;
    height: 1px;
    background-color: var(--color-text-secondary);
    margin-top: 6px;
}

.divider.vertical { 
    width: 1px;
    height: 100%;
}

.search-bar { 
    width: fit-content;
    transition: all 0.3s ease;
    background-color: var(--color-background-card);
    backdrop-filter: var(--background-filter-transparent);
    -webkit-backdrop-filter: var(--background-filter-transparent);
    justify-content: flex-start;
}

.search-bar input { 
    transition: all 0.3s ease;
    font-family: var(--font-family);
    font-size: 14px;
    color: var(--color-text);
    border: none;
    border-radius: 24px;
}

.search-bar.collapsed {
    width: fit-content;
    min-width: 34px;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-background-actions);
}

.search-bar.collapsed input { 
    width: 0;
    padding: 0;
    opacity: 0;
    background: transparent;
}

.search-bar:not(.collapsed) input { 
    max-width: -webkit-fill-available;
    padding: 6px 10px;
    opacity: 1;
    background-color: var(--color-background-actions);
}

header .search-bar:not(.collapsed) input { 
    max-width: calc(35vw - 8em);
}

footer .search-bar:not(.collapsed) input { 
    width: -webkit-fill-available;
    max-width: calc(100vw - 240px);
}

footer .selection.collapsed .selection-item.active, footer .search-bar.collapsed { 
    padding: 12px 18px;
    min-height: 30px;
    border-radius: 36px;
    max-width: unset;
    max-height: 30px;
    align-items: center;
    justify-content: center;
}

footer .search-bar.collapsed { 
    padding: 12px 10px;
}

.history-list { 
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.history-item { 
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
    padding: 8px 12px;
    border-radius: 18px;
    transition: all 0.2s ease;
}

.history-item:hover { 
    background-color: var(--color-secondary-hover);
}

.history-time { 
    color: var(--color-text-secondary);
    font-size: 0.8em;
}