main {
    width: -webkit-fill-available;
    padding: 66px 24px;
    padding-bottom: 144px;
}

.search-controls {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    flex-direction: column;
    width: 14em;
}

footer .search-controls{
    align-items: flex-end;
}

footer.swapped .search-controls{
    align-items: flex-start;
}

.side-bar .selection.no-collapse { 
    margin: 0;
    filter: none;
}

.side-bar .selection.no-collapse .selection-item.active { 
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

.side-bar .selection.no-collapse .selection-item.active:hover { 
    background: var(--color-background-actions);
}

.search-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    transition: all 0.35s ease;
    overflow: hidden;
    gap: 8px;
    max-width: -webkit-fill-available;
    width: fit-content;
    min-width: unset;
}

.search-title { 
    padding: 0 4px;
    min-height: fit-content;
    cursor: default;
}

.search-panel.collapsed {
    width: 26px;
    min-width: 26px;
    min-height: 42px;
    padding: 6px 12px;
    padding-left: 16px;
    background: var(--color-background-actions);
    align-items: center;
    justify-content: center;
    gap: 0;
    border-radius: 36px;
}

.search-panel.collapsed .search-title h4 { 
    width: 0;
    opacity: 0;
    filter: blur(24px);
}

.search-panel.collapsed .input-section,
.search-panel.collapsed .search-actions {
    height: 0;
    width: 0;
    max-width: 0;
    min-width: none;
    min-height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.search-panel.collapsed .selection,
.search-panel.collapsed .selection * { 
    height: 0;
    width: 0;
    min-width: 0;
    min-height: 0;
    opacity: 0;
}

.search-panel:not(.collapsed) .input-section,
.search-panel:not(.collapsed) .search-actions {
    height: auto;
    min-height: auto;
    margin: initial;
    padding: initial;
    overflow: visible;
    width: fit-content;
}

footer .search-panel .selection:not(.collapsed) { 
    margin: 0;
    filter: none;
    box-shadow: none;
    padding: 0;
    background: transparent;
    background-color: transparent;
    backdrop-filter: none;
}

footer .search-panel .selection .selection-item.active { 
    filter: none;
    box-shadow: none;
    background-color: var(--color-secondary-hover);
}

footer .search-panel .selection .selection-item.active:hover { 
    background-color: var(--color-background-actions);
}

.input-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: -webkit-fill-available;
    width: fit-content;
    min-width: unset;
}

.search-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.sort-selector { 
    width: -webkit-fill-available;
}

.input-section input { 
    min-width: 0;
    max-width: -webkit-fill-available;
}

.search-actions { 
    gap: 12px;
}

.arrow-btn { 
    width: 24px;
    height: 24px;
}

.arrow-btn img { 
    width: 100%;
    height: 100%;
}

.search-result {
    width: -webkit-fill-available;
    max-width: -webkit-fill-available;
}

.search-result .item { 
    max-width: -webkit-fill-available;
}

.search-result p { 
    padding: 6px;
    line-height: 1.5;
}

.route-result {
    border-radius: 18px;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 16px;
    min-width: 240px;
}

.route-header {
    padding: 0 6px;
}

.route-header h3 {
    margin: 0 0 10px 0;
}

.route-title { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
}

.route-title .fare {
    color: var(--color-primary);
    font-weight: 400;
    font-size: 1.4em;
}

.route-title .fare b {
    font-size: 1.2em;
    font-weight: 600;
}

.route-summary {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 4px 24px;
}

.route-summary span {
    color: var(--color-text-secondary);
}

.route-details {
    padding: 12px;
}

.line-info, .stations {
    display: inline-block;
    align-items: center;
    padding: 8px 16px;
    border-left: 6px solid;
    margin-left: 7px;
    gap: 4px;
    color: var(--color-text-secondary);
}

.segment:hover { 
    filter: brightness(110%);
    cursor: pointer;
}

.line-info .material-symbols-outlined { 
    font-size: 1em;
    opacity: 0;
    filter: blur(6px);
    transition: all 0.35s ease;
}

.segment:hover .line-info .material-symbols-outlined { 
    opacity: 1;
    filter: none;
}

.segment:not(.collapsed) .line-info .material-symbols-outlined { 
    rotate: 180deg;
}

.line-name {
    font-weight: 500;
    color: var(--color-text-secondary);
}

.line-name:hover { 
    filter: brightness(110%);
    text-decoration: underline;
}

.stations {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    padding-top: 0;
    padding-bottom: 12px;
    font-size: 0.9em;
    transition: all 0.35s ease;
}

.stations ul { 
    padding: 0;
    margin: 0;
    list-style: ' - ' inside;
}

.stations li { 
    transition: all 0.35s ease;
    line-height: 1.2;
    opacity: 0.6;
}

.stations li:not(:last-child) { 
    margin-block-end: 0.5em;
}

.stations li:last-child {
    display: none;
}

.stations li:hover { 
    text-decoration: underline;
}

.segment.collapsed .stations { 
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
}

.segment.collapsed .stations li { 
    height: 0;
    filter: blur(4px);
    opacity: 0;
    line-height: 0;
    overflow: hidden;
}

.transfer {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    margin: 2px 0;
    overflow-y: hidden;
    height: fit-content;
    cursor: pointer;
}

.transfer:hover { 
    text-decoration: underline;
}

.transfer span { 
    padding: 4px 0;
    margin: 0;
    width: -webkit-fill-available;
}

.transfer.depart span, .transfer.arrive span { 
    margin: 4px 0;
    padding: 0;
}

/* 为transfer添加圆形伪元素样式 */
.transfer::before { 
    content: "";
    width: 12px;
    height: 12px;
    min-width: 12px;
    min-height: 12px;
    border: 4px solid var(--color-text-secondary-solid);
    border-radius: 50%;
    z-index: 0;
    margin: 3px 0;
}

.transfer::after { 
    content: "";
    width: 6px;
    min-width: 6px;
    max-width: 6px;
    top: 20px;
    height: -webkit-fill-available;
    max-height: 1em;
    margin-bottom: 24px;
    background-color: var(--color-text-secondary-solid);
    position: relative;
    left: calc(-100% + 13px);
}

.transfer.depart::after, .transfer.arrive::after { 
    margin-bottom: 26px;
}

.transfer.arrive::after { 
    display: none;
}

.transfer.depart, .transfer.arrive { 
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}

.transfer.depart span, .transfer.arrive span { 
    margin: 4px 0;
    font-size: 18px;
}

.transfer.depart::before { 
    background-color: var(--color-text-secondary);
    border: 2px solid var(--color-background-card-solid);
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
}

.transfer.arrive::before { 
    background-color: var(--color-primary);
    border: 2px solid var(--color-background-card-solid);
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
}

.transfer.arrive::after { 
    background: transparent;
}

.fare-details { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    width: -webkit-fill-available;
    gap: 12px;
    color: var(--color-text-secondary);
    padding: 6px;
    margin-bottom: 3px;
}

.fare-detail-item { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-width: min-content;
    background-color: var(--color-secondary-hover);
    padding: 12px;
    border-radius: 12px;
    gap: 4px;
    grid-column: span 1;
}

.fare-detail-title { 
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding-block-end: 0.3em;
    flex-wrap: wrap;
}

.fare-detail-item .fare-detail-title:not(:first-of-type) { 
    padding-block-end: 0;
    height: fit-content;
    opacity: 0.5;
    font-weight: 300;
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
    position: relative;
    padding-inline-end: 3.5em;
}

.fare-detail-item .fare-detail-title span:not(:first-of-type) { 
    white-space: nowrap;
    text-align: end;
    width: fit-content;
    position: absolute;
    right: 0;
}

.fare-detail-value { 
    color: var(--color-primary);
    width: -webkit-fill-available;
    text-align: end;
}

.fare-detail-value b { 
    font-size: 1.2em;
}

.swap-btn img {
    rotate: 90deg;
    transition: all 0.3s ease;
}

.fare-info-btn .material-symbols-outlined {
    transform: translate(-8%,3%);
}

.fare-info-btn .material-symbols-outlined::after { 
    content: 'question_mark';
    font-size: 0.6em;
    font-variation-settings: 'wght' 500, 'opsz' 20;
    position: absolute;
    transform: translateX(-40%);
}

/* 响应式设计：小屏幕时允许fare-detail-item跨越多列 */
@media (max-width: 768px) {
    .fare-details {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .fare-detail-item {
        grid-column: span 1;
    }
}

@media (max-width: 480px) {
    .fare-details {
        grid-template-columns: 1fr;
    }
    
    .fare-detail-item {
        grid-column: span 1;
        position: relative;
    }
}
